
@{
    Layout = null;
}

<h2 class="text-center">Bienvenido a la sección de Ayuda</h2>

<div class="text-center">
    <div></div>
    <div>
        <h3 class="text-justify">En esta sección le otorgaremos toda la información que necesite acerca de como utilizar correctamente su Sistema de Rentabilidad</h3>
    </div>
    <div></div>
</div>
<br/>

<div class="text-center">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>

