
@{
    Layout = null;
}

<h2 class="text-center" style="margin-top: 1px">Bienvenido a la sección de Ayuda</h2>
<div class="text-center">
    <text>En esta sección le otorgaremos toda la información que necesite acerca de como utilizar correctamente su Sistema de Rentabilidad.</text>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <text>En cada una de las pantallas que usted acceda, encontrará un pequeño botón de Ayuda en la parte superior derecha, haga click allí y se le mostrará toda la información que necesite saber sobre la pantalla.</text>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3" style="margin-top: 15px">
        <img src="@Url.Content("~/Content/Images/BotonAyuda.jpg")" />
    </div>
</div>

<br/>



