@{
    ViewBag.Title = "Home Page";
}

<div class="text-center jumbotron sombra_externa sombra_fija sombra_radial ">
    <h3><b>¡Bienvenido al Sistema de Rentabilidad Tregar!</b></h3>
    <h4>Sistema de Transaccion de Ingresos & Egresos</h4>
</div>
