@{
    ViewBag.Title = "Inicio";
}

<div class="text-center jumbotron sombra_externa sombra_fija sombra_radial text-center thStyleGradient2 bordesRedond ">
    <h3><b>¡Bienvenido al Sistema de Rentabilidad!</b></h3>
    <h4>
        Transacciones de
        "Elgordo.com Distribuciones"
    </h4>

</div>
