
@{
    Layout = null;
}

<h4 class="text-center" style="margin-top: 0">En esta sección usted podrá realizar los ajustes necesarios sobre su Planilla</h4>
<br />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-7">
        <h5>Para ingresar una nueva transacción, haga click sobre "Nueva línea", allí siga los mismos pasos que al Crear una Nueva Planilla.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <img src="@Url.Content("~/Content/Images/NuevaLínea.jpg")" />
    </div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10"><h5>En la lista de transacciones, usted puede modificar tanto la descripción de transacción, su observación y su monto solo haciendo click sobre el correspondiente campo. Si desea eliminar la transacción de la lista, solo haga click en la "x" de la derecha.</h5>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <img src="@Url.Content("~/Content/Images/CamposEdit.jpg")"/>
    </div>
    <div class="col-lg-1"></div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>También podrá modificar las observaciones generales de su Planilla (Opcional).</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <img src="@Url.Content("~/Content/Images/ObservacionesGrales.jpg")" style="width:70%" />
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Finalmente para guardar los cambios realizados sobre su Planilla haga click sobre "Guardar" en la parte inferior de la página.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 8px">
        <div class="btn text-center" style="background-color:#30b238; color:white"><span style="color:white">Guardar&nbsp;</span><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></div>
    </div>
</div>
<br/>
<div class="text-center">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>