
@{
    Layout = null;
}

<h4 class="text-center">Utilice esta sección para visualizar las transacciones realizadas en un período determinado</h4>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>Seleccione sobre que valores de Planillas desea obtener el reporte.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <img src="@Url.Content("~/Content/Images/SelectType.jpg")"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>Ingrese el período que desea obtener el reporte colocando en el primer casillero el año desde donde desea realizar el reporte, y en el segundo el año de finalización.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <img src="@Url.Content("~/Content/Images/InicioFin.jpg")"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>Luego, solo haga click sobre el botón "Generar".</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <img src="@Url.Content("~/Content/Images/Generar.jpg")"/>
    </div>
</div>
<br/><br/>
<div class="text-center">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>
